[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
streamlit = "*"
faiss-cpu = "*"
streamlit-extras = "*"
watchdog = "*"
pypdf = "*"
llama-hub = "*"
pypdf2 = "*"
langchain = {version = "*", extras = ["docarray"]}
ipython = "*"
llama-index = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
